html, body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  cursor: crosshair;
  overflow: hidden;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.resume {
  z-index: 0;
  color: black;
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border: none;
  border-radius: 12px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.4);
  padding: 16px;
  width: 600px;
  height: 400px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-block;
  padding: 0px 5px;
  color: darkgray;
  font-size: 20px;
}

.close:hover {
  position: absolute;
  top: 8px;
  right: 8px;
  display: inline-block;
  padding: 0px 5px;
  color: gray;
  cursor: pointer;
}

.loading {
  color: cornflowerblue;
  font-size: 20px;
}

.waiting {
  font-size: 24px;
  color: #505050;
  text-align: center;
  padding-top: 64px;
  font-weight: bold;
}

.start {
  font-size: 20px;
  color: gray;
  text-align: center;
  padding-top: 16px;
  font-weight: bold;
}

.description {
  font-size: 18px;
  color: darkgray;
  text-align: center;
  padding-top: 16px;
}

.signin {
  font-size: 14px;
  color: gray;
  text-align: center;
  padding-top: 16px;
  font-weight: bold;
}

.button {
  background-color: #dddddd;
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 16px;
  color: gray;
}

.center {
  margin: auto;
  width: 50%;
  padding-top: 16px;
  text-align: center;
}

#description {
  text-align: center;
  color: #505050;
  font-size: 24px;
  font-weight: bold;
  width: 560px;
  text-align: justify;
  text-justify: inter-word;
}

.center-screen {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
